*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin: 50px ;
    
}

.main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    margin-bottom: 10px;
    color: rgb(11, 11, 12);
}

input{
    pointer-events: none;
    height: 50px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    border: none;
}

button{
    cursor: pointer;
    height: 30px;
    margin-bottom: 10px;
    width: 70px;
    border: none;
}

.content{
    text-align: center;
    background-color: rgb(237, 251, 251);
    width: 100%;
    position: relative;
    display: none;
}

.history{
    width: 100%;
}

.password, .clear{
    text-align: right;

}
.password:hover, .clear:hover{
    color: blue;
}

.password:active, .clear:active{
    color: rgb(148, 187, 42);
}

i{
    position: absolute;
    bottom: -20px;
    right: 10px;
}